# Base de datos (backend)
DB_URL=jdbc:postgresql://
DB_USER=
DB_PASSWD=

# Redis
REDIS_HOST=
REDIS_PORT=

# Secrets
JWT_SECRET=
NVD_ENCRYPTION_KEY=

# Spring Security
SEC_NAME=
SEC_PASSWD=

# Conexión API Flask 
MODULES_API_URL=http://localhost:5000

FRONTEND_BIND=127.0.0.1
FRONTEND_PORT=3000
API_PORT=8080
COOKIE_SECURE=false
CORS_ORIGINS=http://localhost:3000
CACHE_TTL_HOURS=24
