@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Quantico:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap");

/* ======= VARIABLES ======= */

:root {

    /* General */
    --bg: #0a0f3d;
    --font: #e6edf3;
    --acc1: #2c2971;
    --acc2: #353b85;
    --border-big: #4682b4;
    --border-acc: #40e0d0;
    --button-link: #ff1493;

    /* CVSS */
    --critical: #ff3131;
    --high: #ff8a3d;
    --medium: #f5c542;
    --low: #4da3ff;
    /* --none: #8b949e; */

    /* Scan */
    --pendiente: #d099ff;
    --en-proceso: #40e0d0;
    --completado: #00df81;
    --fallo: #ff3131;

    --br-radius: 5px;
    --transition: .25s;

    --font-title: "Quantico", sans-serif;
    --font-body: "IBM Plex Mono", monospace;
    --font-console: "Ubuntu Mono", monospace;  /* "salidas" por consola */
}

.status {
    font-weight: 600;
}

.status-PENDIENTE {
    color: var(--pendiente);
}

.status-EN-PROCESO {
    color: var(--en-proceso);
}

.status-COMPLETADO {
    color: var(--completado);
}

.status-FALLO {
    color: var(--fallo);
}


/* ======= RESET ======= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    background: var(--bg);
    color: var(--font);

    font-family: var(--font-body);
    line-height: 1.6;
}

h1,
h2,
h3,
.brand {
    font-family: var(--font-title);
}

.button,
input,
textarea,
select {
  font-family: var(--font-body);
}

.button {
    border: 1px solid var(--button-link);
    border-radius: 3px;

    background: transparent;
    color: var(--button-link);

    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;

    cursor: pointer;
    transition:
        background var(--transition),
        color var(--transition);
}

.button:hover {
    background: var(--button-link);
    color: var(--bg);
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--button-link);
    text-decoration: underline;
}

.console {
    font-family: var(--font-console);
    background-color: var(--bg);
    padding: 15px 15px;
}