.git
.env
.env.*
*.log
venv
.venv
__pycache__
**/__pycache__
*.pyc
results
outputs
**/.env
**/.env.*
**/.git
**/.idea
**/.vscode
env
**/*.pyc
**/*.pyo
.pytest_cache
.mypy_cache
.coverage
htmlcov
**/*.log
*.zip
